body { 
    background-color: #FFD60A;
}
header {
    background-color:#003566;
}
nav a:hover {
    background-color: #396E94;
    color: white;
}
.home-title{
    color: black;
}
h4{
    color: black;
}
.book, .join {
    background-color: #003566;
    color: white;
}
.book:hover{
    background-color: #396E94
} 
.join:hover{
    background-color: #396E94
}
#background {
    background-color: #FFD60A;
}
.msg {
   background-color: #396E94;
}
.msp h2{
    color: white;
}
.msg p{
    color: white;
}
footer{ 
    background-color:#003566;
    color: white;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: white;
}
footer p {
    font-size: 1.2em;
}  
footer p a:hover {
    text-decoration: underline;
} 
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
}